<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
     <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
   <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
    
    <title>Hello!</title>

    
 
    
    <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">
    
    <!-- import the stylesheet for mediaplayer -->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
  </head>  
  <body>
  
<nav>
  
  <ul>
     <li><a href="index.html">Welcome</a></li>
     <li><a href="play.html">Play</a></li>
     <li><a href="freestyle.html">Freestyle</a></li>
    </ul>
  
    </nav>
   
  <br>
    <script src="start.js"></script>
    <br>
       <audio id="player" controls>
  <source src="https://cdn.glitch.com/ab2315b7-5002-452c-aa35-13b7b258fa66%2FAmelie%20Lens%20-%20Hypnotized%20(Joyhauser%20Remix).mp3?v=1590525465803" type="audio/mp3" />
  <source src="https://cdn.glitch.com/ab2315b7-5002-452c-aa35-13b7b258fa66%2FAmelie%20Lens%20-%20Hypnotized%20(Joyhauser%20Remix).mp3?v=1590525465803" type="audio/mp3" />
</audio>
    
      </body>
</html>
