

body {
  
   background-color: yellow;
   background-image: url("https://cdn.glitch.com/ab2315b7-5002-452c-aa35-13b7b258fa66%2Fyellow-spiral-1.png?v=1590512481204");
}


h1 {
  background-color: yellow;
  font-family: courier new;
}

* {
  margin: 0;
  padding: 0;
}



nav {
  width: 100%;
  height: 100px;
  background-color: black;
}

ul {
  margin-left: 80px;
}

ul li {
 list-style: none; 
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: courier new;
  color: yellow;
  padding: 0 60px; 
}

ul li a:hover {
  color: red;
}

div{
  padding-left: 100px;
  margin-top: 30px
  margin-left: 30px;
  margin-right: 300px;
  margin-bottom: 30px;
}

h2{
   background-color: yellow;
  font-family: courier new;
/*  padding-right: 300px;
  margin-right: 300px;
  */
}
p{
   background-color: yellow;
}

.p5Canvas {
  margin-left: 90px;
  
}
